.list_coins {
  width: 551px;
  height: fit-content;
  background-color: #151718;
  border-radius: 34px;
  margin-top: 20px;
  padding: 16px;

  h1 {
    font-size: 22px;
    color: white;
    margin-left: 12px;
  }

  ul {
    margin-top: 20px;
    li {
      width: 519px;
      height: 56px;
      background-color: #212325;
      border-radius: 30px;
    }
  }
}
