@import url("https://fonts.cdnfonts.com/css/lufga");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Lufga", sans-serif;
  background-color: #0d0d0d;

  aside {
    height: 100vh;
    padding: 35px 49px 46px 30px;
    background-color: #101111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;

    .logout-button {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      span {
        color: #e1e1e1;
        margin-left: 16px;
      }
    }

    .darkMode-button {
      width: 72px;
      height: 34px;
      background-color: #151718;
      border: 1px solid #383a3b;
      border-radius: 34px;
      display: flex;
      justify-content: space-between;
      padding: 0 2px 0 2px;

      .sun-container {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
      }

      .moon-container {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
      }
    }
  }

  header {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;

    h1 {
      font-size: 32px;
      color: white;
    }

    p {
      font-size: 12px;
      font-style: italic;
      color: #909093;
    }

    .search-box {
      display: flex;
      align-items: center;
      background-color: #151718;
      width: 264px;
      height: 50px;
      border-radius: 34px;
      margin-right: 20px;

      .search-ic-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        background-color: #212325;
        margin-right: 12px;
        margin-left: 4px;
      }

      input {
        background-color: transparent;
        border: none;
        outline: none;
      }

      input::placeholder {
        font-style: italic;
        font-size: 12px;
      }
    }
  }
}
